/*
    Author: Andre
    Styling for the spaceship website
*/

html, body, .bg{
    margin: 0;
    font-family: Arial;
    text-align: center;
    color: gray;
    background-color: black;
    height: 100%;
    width: 100%;
    background-image: url(orbit.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    font-size: 5em;
    margin: 0;
    padding: 0.25em;
    color: whitesmoke;
}

.header{
    width: 960px;
    height: auto;
    margin: auto;
    font-size: 1.25em;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-bottom: 2em;
    padding: 1em;
}

#ship-list{
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    padding: 0.5em;
}

.panel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 960px;
    height: 600px;
    /*background-color: blue;*/
}

.data{
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    width: 50%;
    height: 100%;
    margin: 1%;
    font-size: 1.25em;
    border-radius: 10px;
    background-color: whitesmoke;
}

.data img{
    /*align-items: center;
    justify-content: center;*/
    margin: 0.5em;
    object-fit: cover;
    height: 95%;
    width: 95%;
    border-radius: 10px;
}